<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Car List</title>
</head>

<body>

<div class="container">

    <h3>Car List</h3>
    <hr>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Company</th>
            <th>Model</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempCar : ${carList}">

            <td th:text="${tempCar.getCompany()}" />
            <td th:text="${tempCar.getModel()}" />
            <td th:text="${tempCar.getYear}" />
            <td><button type="button" class="btn btn-primary">Rent</button></td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>



